@charset "utf-8";
/**ここから下リセットCSS**/
body,h1,h2,h3,h4,p,image,figure,p,a,table,ul,li,dl,dd,dt,ol{
  margin: 0px;
  padding: 0px;
  border:0;
}
img{
  vertical-align: top;
}
body{
  display: block;
  font-size: 1em;
  font-family:"メイリオ";
}
li{
  list-style:none;
}
a{
  text-decoration:none;
}
table {
border-collapse:collapse;
border-spacing:0;
}
/**ここまでリセットCSS**/

/**ここから変えた全体設定**/

body main .inner{
  margin: 0 auto;
  padding: 0px 20px;
  width: 1000px;
}
/**ここまで**/


/**ここからsitemapnner**/
.sitemap .mainimage{
  background-repeat: no-repeat;
  background-color: #ffbf7f;
  height: 600px;
  width: auto;
  
  text-align: center;
  margin-bottom: 100px;
}
.sitemap{
  color: #335c5c;
}
.sitemap .topic{
	margin: 20px 30px;
  text-align: left;
}
.sitemap .topic li{
	display: inline;
}
.sitemap .topic li+li:before{
	content: ">";
}
.sitemap h2{
  margin-bottom: 60px;
  margin-top: 60px;
  text-align: center;
}
.sitemap .sec1_sitemap, .sitemap .sec2_sitemap, .sitemap .sec3_sitemap,.sitemap .sec4_sitemap{
  margin-bottom: 100px;
}
.sitemap .sec1_inner a:hover{
  text-decoration: none;
  color: #fff;
  }
.sitemap .sec1_inner{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}
.sitemap .sec1_sitemap_inner1{
  background-color:rgba(115,207,255,0.5);
  border-radius: 35px;
  width: 400px;
  height: 50px;
  margin: 25px 40px;
  padding:100px 0;
  text-align: center;
}
.sitemap .sec1_box{
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
.sitemap .sec1_sitemap_inner1 .men1 img{
  height: 150px;
  width: auto;
  margin-top: -50px;
}
.sitemap .sec1_box_blog{
  display: flex;
  justify-content: flex-start;
  margin-left: 0px;
}
.sitemap .sec1_sitemap_inner1 .men2 img{
  height: 150px;
  width: auto;
  margin-right: 0px; 
}
.sitemap .sec1_sitemap_inner1 h3{
  padding-bottom: 20px;
  margin-top: -30px;
}
.sitemap .sitemap_subh{
  text-decoration-color: #efe58b;
  text-decoration-line: underline;
  text-decoration-thickness: 8px;
  text-underline-offset: -5px;
  text-decoration-skip-ink: none;
  padding-bottom: 15px;

}
.sitemap .sec2_inner{
  border: 6px solid #73cfff;
  border-radius: 35px;
  background-color:rgba(255, 255, 255, 0.5);
  text-align: left;
  padding: 40px 25px;
  height: auto;
}
.sitemap .sec2_inner p{
  padding-bottom: 80px;
  line-height: 2.0;
}
.sitemap .sec3_inner{
  border: 6px solid #73cfff;
  border-radius: 35px;
  background-color:rgba(255, 255, 255, 0.5);
  text-align: left;
  padding: 40px 25px;
  height: auto;

}
.sitemap .sec3_inner p{
  padding-bottom: 40px;
  line-height: 2.0;
}
.sitemap .sec4_inner{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sitemap .sec4_sitemap_inner1{
  background-color:rgba(115,207,255,0.5);
  border-radius: 35px;
  width: 400px;
  height: 100px;
  margin: 25px 40px;
  padding:100px 0;
  text-align: center;
}
.sitemap .sec4_sitemap_inner1 ul{
  text-align: start;
  padding-left: 50px;
}
.sitemap .sec4_sitemap_inner1 h3{
  padding-bottom: 20px;
  margin-top: -20px;
}

.sitemap .sec5_sitemap{
  margin-bottom: 100px;
}

.sitemap .sec5_sitemap .sec5_inner{
  border: 6px solid #73cfff;
  border-radius: 35px;
  background-color:rgba(255, 255, 255, 0.5);
  text-align: left;
  padding: 40px 20px;
  height: auto;
}
.sitemap .sec5_sitemap p{
  padding-bottom: 10px;
  line-height: 2.0;
}

.sitemap .sec6_sitemap{
  margin-bottom: 100px;
}
.sitemap .sec6_sitemap .sec6_inner{
  border: 6px solid #73cfff;
  border-radius: 35px;
  background-color:rgba(255, 255, 255, 0.5);
  text-align: left;
  padding: 40px 20px;
  height: auto;
}
.sitemap .sec6_sitemap p{
  padding-bottom: 10px;
  line-height: 2.0;
}

.sitemap .backhome{
  text-align: end;
  padding: 50px 0 20px;
}
.sitemap .backhome a{
  font-size: 18px;
  color: #000;
  padding:10px;
  border: 5px solid #facc29;
  background-color: #f6f27f;
  border-radius: 60%;
}
.sitemap .backhome a:hover{
  color: #0000FF;
}




@media screen and (max-width:1040px){
  /**ここから全体設定**/
  img {
    height: auto;
  }

  body{
    width: 100%;
  }
  body main{
    width: 100%;
    max-width: 1040px;
  }
  main section .inner{
		width: calc(100% - 40px);
  }
/**index設定**/
  /**main figure{
    width: 40%
  }**/
  header{
    width: 100%;
  }
  header .inner{
    height: auto;
    width: auto;
}
  header h1{
    width : auto ;
    height: auto;

}
	nav ul{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin-top: 0px;

	}
  nav li{
    width: auto;
    padding: 2px;
  }

  .footer{
    position: static;
  }
  .footer_nav a, .sitemap a{
    white-space: nowrap;
}

/**ここまで**/

/**ここからsitemapの設定**/
  .sitemap .mainimage{
    width: auto;
  }
  .sec1_sitemap img{
    width: auto;
  }
  .sitemap .mainimage{
    width: 100%;
    height: auto;
  }
  
  
  
  
  
  /** ここから下が追記 **/
  .sitemap .sec1_sitemap_inner1 .idou{
    margin-left: 50px;
    width: 100%
} 
  .sitemap .sec1_sitemap_inner1 .idou2{
    margin-right: 400px;
    width: 100%
}
  .sitemap .sec1_sitemap_inner1 .men1 img{
    height: 150px;
    width: auto;
    margin-top: -50px;
}
  
  .sitemap .sec1_sitemap_inner1 .men2 img{
    height: 150px;
    width: auto;
    margin-right: 0px; 
    position: absolute;
}
     /** ここまで **/
 
  
  
  
  .sitemap .sec1_box_text {  
  }

  
  
  .sitemap .sec4_sitemap img{
    width: auto;
  }
 
  .sitemap .sec2_inner, .sitemap .sec3_inner, .sitemap .sec5_sitemap, .sitemap .sec6_sitemap{
  height: auto;
}
  .sitemap .inner .mens{
    display: none;
  }
}


@media screen and (max-width:600px){
  footer .number{
    display: block;
  }
  footer .mail{
    display: block;
  }
  .sitemap .sec1_sitemap_inner1 .men1 img, .sitemap .sec1_sitemap_inner1 .men2 img{
    display: none;
  }
  .sitemap .sec1_box{
    display: inline-block;
    margin:auto;
}
  .sitemap .sec1_sitemap_inner1 .men2 img{
    display: none;
}
  .sitemap .sec1_box_blog{
  display: inline-block;
  margin:auto;
}
  .sitemap .sec1_sitemap_inner1 h3{
  margin-top: -50px;
}
  
  
    /** ここから下が追記 **/
  .sitemap .sec1_sitemap_inner1 .idou{
    margin-left: 0px;
} 
  .sitemap .sec1_sitemap_inner1 .idou2{
    margin-right: 0px;
}
  /** ここまで **/
  
  
  .sitemap .sec4_sitemap_inner1{
    height: auto;
  }
  .sitemap .sec4_sitemap_inner1 h3{
    margin-top: -30px;
  }
  .sitemap .sec4_sitemap_inner1 ul{
  padding-left: 10px;
}

	
  /**ここからハンバーガーメニュ**/ 
  header{
    height: auto;
  }
  header .inner{
    display: block;
  }
  header h1{
    position: absolute;
  }
  nav ul{
    display: block;
    text-align: center;
    background-color: #facc29;
    padding-bottom: 5px;
    
    width: 50%;
    height: auto;
    margin: 0 auto;
    
  }
  
  #nav-toggle{
    width: 70px;
    height: 50px;
    margin-left: auto;
    position: relative;
    right: -20px;
  }
  
	#nav-toggle span{
		display: block;
		width: 30px;
		height: 4px;
		position: absolute;
		left: 20px;
		background: #333;
		transition: 0.5s;
	}
  	#nav-toggle span:nth-child(1){
		top: 12px;
	}
	#nav-toggle span:nth-child(2){
	  top: 23px;
	}
	#nav-toggle span:nth-child(3){
	  top: 34px;
	}
  nav ul{
    display: none;
  }
  #nav-toggle.open span:nth-child(1){
	  top: 23px;
		transform: rotate(315deg)
	}
	#nav-toggle.open span:nth-child(2){
		width: 0px;
		left: 50%;
	}
  #nav-toggle.open span:nth-child(3){
		top: 23px;
		transform: rotate(-315deg)
	}
  

  
  
  
}


@media screen and (min-width:601px){
	nav ul{
		display: flex !important;
	}
}

